<h1>C Company</h1>



<h2> About US: </h2>



<p> Founded in 2015, C Company is used to provide jobs to may newcomers..

For over 5 years we’ve been bringing custom and platform-based solutions to large and midsized companies in Healthcare, Banking, Retail, Telecom and other industries. Walmart, Nestle, eBay, NASA JPL, T-Mobile, Baxter, M&T bank along with other influencers rely on our solutions in their daily operations.



<li>29 years in Information Technology</li>



<li>500+ IT professionals</li>




<li>124 active customers in 2017 H1</li>



<li>76% of the revenue comes from 1+ year-long customers</li>

With the background rooted in science, we build on our legacy knowledge and grow it in the areas of CRM, Data Analysis, Collaboration & Knowledge Management and Information Security. As part of this journey, we partnered with Microsoft, IBM, Oracle, Salesforce, Magento, ServiceNow, Episerver and more tech leaders to ensure that our clients will benefit from steady reliability and originality across solutions.



Currently, we are recognized with newly established company - Application Development, Collaboration and Content, Data Analytics, Datacenter and Data Platform. We are also featured on The Silicon Review listing among 10 Fastest Growing Data Analytics Companies. If you want to contact us, the link is given below:

<br>
<br>
<br>

<h1> Contact Us </h1>
<li>Phone number: 01-6638069</li>
<li>Mobile Number: 9849281206</li>
<li>Address: Madhyapur Thimi, Bhaktapur, Nepal</li>
<li>Email: me.ayushh@gmail.com
       thapa.rabin55@gmail.com</li>

<p> If you have any queries, feel free to contact us or email us with the link given below:</p>




<% if current_user %>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>
<%= link_to "Sign up", new_user_registration_path %>

<%= link_to "Sign in", new_user_session_path %>

<% end %>






